[package]
name = "stackable-secret-operator"
authors = ["Stackable GmbH <info@stackable.de>"]
description = "Stackable Operator for managing credentials"
license = "OSL-3.0"
version = "0.3.0-nightly"
edition = "2021"
repository = "https://github.com/stackabletech/secret-operator"

[dependencies]
anyhow = "1.0.53"
async-trait = "0.1.52"
clap = { version = "3.0.14", features = ["derive", "env"] }
futures = "0.3.21"
libc = "0.2.117"
openssl = "0.10.38"
pin-project = "1.0.10"
prost = "0.9.0"
prost-types = "0.9.0"
serde = "1.0.136"
serde_json = "1.0.79"
serde_yaml = "0.8.23"
snafu = "0.7.0"
socket2 = { version = "0.4.4", features = ["all"] }
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", tag = "0.10.0" }
sys-mount = { version = "1.3.0", default-features = false }
time = "0.3.7"
tokio = { version = "1.16.1", features = ["full"] }
tokio-stream = { version = "0.1.8", features = ["net"] }
tonic = "0.6.2"
tonic-reflection = "0.3.0"
tracing = "0.1.30"

# Need to keep this in sync with our patched h2 build
h2 = "=0.3.7"

[build-dependencies]
built = { version = "0.5.1", features = ["chrono", "git2"] }
tonic-build = "0.6.2"

[patch.crates-io]
# Workaround for https://github.com/hyperium/tonic/issues/243
h2 = { git = "https://github.com/teozkr/h2.git", branch = "feature/grpc-uds" }

[features]
