{%- set title="Stackable Secret Operator" -%}
{%- set operator_name="secret" -%}
{%- set related_reading_links=[] -%}
{%- set no_jenkins_job_badge=true -%}

{% include "partials/borrowed/header.md.j2" %}
{% include "partials/borrowed/links.md.j2" %}

{% include "partials/main.md.j2" %}

{% include "partials/borrowed/footer.md.j2" %}

{% include "partials/borrowed/related_reading.md.j2" %}
