{%- set title="Stackable Secret Operator" -%}
{%- set operator_name="secret" -%}
{%- set operator_docs_slug="secret-operator" -%}
{%- set related_reading_links=[] -%}
{%- set no_jenkins_job_badge=true -%}

{% filter trim %}
  {%- include "partials/borrowed/header.md.j2" -%}
{% endfilter %}

{% filter trim %}
  {%- include "partials/borrowed/links.md.j2" -%}
{% endfilter %}

{% filter trim %}
  {%- include "partials/main.md.j2" -%}
{% endfilter %}

{% filter trim %}
  {%- include "partials/borrowed/footer.md.j2" -%}
{% endfilter %}

{% filter trim %}
  {%- include "partials/borrowed/related_reading.md.j2" -%}
{% endfilter %}
