This is a Kubernetes Operator to provision and inject secrets for Kubernetes pods. Compared to Kubernetes' native secret mounts, this permits secrets to be selected dynamically based on properties of the `Pod`.

{% filter trim %}
  {%- include "partials/borrowed/overview_blurb.md.j2" -%}
{% endfilter %}

## Installation

You can install the operator using [stackablectl or helm](https://docs.stackable.tech/home/stable/{{operator_name}}/getting_started/installation).

Read on to get started with it, or see it in action in one of our [demos](https://stackable.tech/en/demos/).

## Getting Started

You can follow this [tutorial](https://docs.stackable.tech/home/stable/{{operator_name}}/getting_started/first_steps) .

{% filter trim %}
  {%- include "partials/borrowed/documentation.md.j2" -%}
{% endfilter %}

## What does it do?

The Secret Operator provisions and mounts secrets, but unlike the default Kubernetes Secret mechanism, Secrets can be created and mounted dynamically based on Pod properties. The Operator supports:

- Generating TLS certificates on demand and mounting them

## How it works

The Secret Operator is deployed as a DaemonSet and provides a CSI to mount files directly into Pods.

  <img width="500" src="./.readme/static/secret-operator.drawio.svg" alt="A diagram overview of the workings of the operator"/>

The Secret Operator by [Stackable](https://stackable.tech/).
This is a Kubernetes Operator to provision and inject secrets for Kubernetes Pods. It is part of the [Stackable Data Platform](https://stackable.tech/), a curated selection of the best open source data apps like Kafka, Druid, Trino or Spark, all working together seamlessly. Based on Kubernetes, it runs everywhere – on prem or in the cloud.
