# $NAMESPACE will be replaced with the namespace of the test case.
---
apiVersion: secrets.stackable.tech/v1alpha1
kind: SecretClass
metadata:
  name: tls-$NAMESPACE
spec:
  backend:
    autoTls:
      ca:
        secret:
          name: secret-provisioner-tls-ca
          namespace: $NAMESPACE
        autoGenerate: true
        keyGeneration:
          rsa:
            length: {{ test_scenario['values']['tls-rsa-key-length'] }}
---
apiVersion: secrets.stackable.tech/v1alpha1
kind: SecretClass
metadata:
  name: tls-$NAMESPACE-42h
spec:
  backend:
    autoTls:
      ca:
        secret:
          name: secret-provisioner-tls-ca
          namespace: $NAMESPACE
        autoGenerate: true
        keyGeneration:
          rsa:
            length: {{ test_scenario['values']['tls-rsa-key-length'] }}        
      maxCertificateLifetime: 42h
