# $NAMESPACE will be replaced with the namespace of the test case.
---
apiVersion: secrets.stackable.tech/v1alpha1
kind: TrustStore
metadata:
  name: truststore-pem
spec:
  secretClassName: tls-$NAMESPACE
  format: tls-pem
  outputResource: {{ test_scenario['values']['truststore-output-resource'] }}
---
apiVersion: secrets.stackable.tech/v1alpha1
kind: TrustStore
metadata:
  name: truststore-pkcs12
spec:
  secretClassName: tls-$NAMESPACE
  format: tls-pkcs12
  outputResource: {{ test_scenario['values']['truststore-output-resource'] }}
---
apiVersion: secrets.stackable.tech/v1alpha1
kind: TrustStore
metadata:
  name: truststore-k8ssearch
spec:
  secretClassName: k8ssearch-$NAMESPACE
  outputResource: {{ test_scenario['values']['truststore-output-resource'] }}
